html, body{
  width: 100%;

}

#obj {
  background: blue;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  /* Align center */
  top:-10px;
  left: -10px;
  opacity: 0.5;
}

/* .gradient-right {
  background: radial-gradient(circle at 80% 70%, #f1edfd 5%, transparent 55%), radial-gradient(circle at 100% 70%, #f4fdfe 15%, transparent 55%);
} */

.animation-bg {
  background-image: url("bg.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto;
}

/* .sticky{
  overflow: hidden;
} */

.sticky-view {
  position: relative;
  height: 200vh;
}

.sticky-view-sticky {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

#path-animation {
  position: relative;
  margin: 0;
  padding: 0;
}

.animation-container svg {
  max-width: 100%;
}

#curve-path {
  stroke-dasharray: 1194;
  stroke-dashoffset: 1194;
}

.dot-box {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(128, 128, 128, 0.7);
  position: relative;
  margin-bottom: 15px;
}

.dot-box::after {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "";
  width: 23px;
  height: 23px;
  background-color: #081B4A;
  border-radius: 50%;
}

.step-item {
  position: absolute;
  /* top: -32px;
  left: -32px; */
  width: 280px;
  opacity: 0;
}
.step-item *{
  z-index: 5;
}
/* test */
.step-item>div *{
  display: none;
}

.step-item .dot-box {
  display: block;
  margin-bottom: 0;
}
/* test */

.step-item span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 204px;
  font-weight: 800;
  z-index: 1;
  color: rgba(8, 27, 74, 0.05);
  transform: translateY(-80px);
}

@media only screen and (max-width: 1319px) {

  .step-item {
    width: 150px;
    font-size: 12px;
  }

  .step-item h5{
    font-size: 16px;
  }

  .dot-box {
    transform: scale(0.7) translateX(-30%);
  }
  
  
  .step-item span {
    font-size: 10rem;
    top: unset;
    bottom: 0;
    transform: translateY(0px);
  }
}